@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap'); // !подключаем шрифт из google fonts

@import "templateStyle.scss";

body {
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	margin: 0px auto;
	max-width: 1180px;
}

.content {
	flex: 1 1 auto;
}

.hi {
	background-color: #445162;
	padding: 50px 0;

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__body {
		color: white;
		padding: 0 30px 0 0;
	}

	&__title {
		font-size: 60px;
		text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
		margin: 0px 0 38px 0;
	}

	&__list li {
		background: url(/images/белая-галочка.png) 0 7px no-repeat;

		padding: 0 0 0 36px;
		line-height: 36px;
		font-size: 20px;
	}

	&__list li:last-child {
		margin: 0 0 -15 0;
	}
}

.image {}

.footer {

	background-color: #f0f0f0;

	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 65px;
	}

	&__text {
		color: #445162;
		font-size: 12px;
	}
}

.title {
	font-size: 30px;
	color: #445162;
}

.what {

	&__row {
		display: flex;
	}

	&__img {
		margin: 50px 40px 0 0;
		flex: 0 0 auto;
	}

	&__body {
		max-width: 641px;
		flex: 1 1 auto;
	}

	&__title {
		margin: 51px 0 0px 0;
	}

	&__text {
		font-size: 16px;
		color: #445162;

		p {
			margin: 0 0 25px 0;
		}
	}

}

.columns {
	margin: 50px 0 0 0;
	background-color: #f0f0f0;
	padding: 30px 0 20px 0;

	&__title {
		text-align: center;
		padding: 0 0 30px 0;
	}

	&__row {

		flex-wrap: wrap;
		display: flex;
		margin: 0px -8px;
	}

	&__colum {
		padding: 30px 8px;
		flex: 0 1 50%;

	}
}

.column {

	&__item {}
}

.item {

	&__row {
		display: flex;
	}

	&__image {
		flex: 0 0 200px;
	}

	&__body {
		flex: 1 1 auto;
		padding: 0 15px;
	}

	&__title {
		color: #445162;
		font-size: 24px;
		line-height: 30px;
		margin: 0px 0 15px 0px;
	}

	&__text {
		color: #445162;
		line-height: 21px;
	}
}


.title {
	text-align: center;
	padding: 48px 0 30px 0;
}


.vertical {
	padding: 50px 0;


	&__title {}

	&__body {
		max-width: 990px;
		margin: 0 auto;
	}

	&__row {
		display: flex;
		margin: 0 -22.5px;
	}

	&__column {
		padding: 0 22.5px;
		flex: 0 1 33.333%;
		display: flex;

	}

	&__item {
		background-color: #445162;
		border-radius: 5px;
		padding: 0 0 20px 0;
		display: flex;
		flex-direction: column;
	}

	&__subtitle {
		text-transform: uppercase;
		text-align: center;
		padding: 20px 0 12px 0;
		font-size: 24px;
		color: white;
	}

	&__label {
		background-color: #ffffff;
		padding: 15px 0;
		text-align: center;
		border: 1px solid #445162;
		color: #445162;
		font-size: 40px;
	}

	&__text {
		padding: 20px 30px 0 20px;

		font-size: 14px;
		color: #ffffff;
		line-height: 24px;
		flex: 1 1 auto;

		p {
			margin: 0 0 15px 0;
		}

		& p:last-child {
			margin: 0 0 25px 0;
		}
	}

	&__button {
		display: block;
		background-color: #ffffff;
		margin: 0 20px;
		line-height: 40px;
		height: 40px;
		font-size: 18px;
		text-align: center;
		border-radius: 5px;
		color: #445162;

	}
}

.container {}